<div class="sheet">
  <span class="label">Прослушайте</span>
  <div style="display:none">{{Word}}</div>
  <div class="audio-play">
    {{#Audio}}{{Audio}}{{/Audio}}
    {{^Audio}}{{tts en_US:Word}} {{tts en_GB:Word}}{{/Audio}}
  </div>
  {{#Hint}}<div class="hint">{{hint:Hint}}</div>{{/Hint}}
  {{#Quote}}<blockquote class="quote">{{Quote}}</blockquote>{{/Quote}}
  {{#Code}}<div class="code-wrap">{{#CodeLang}}<span class="code-lang">{{CodeLang}}</span>{{/CodeLang}}<pre class="code-block"><code>{{Code}}</code></pre></div>{{/Code}}
  {{#Notes}}<div class="desc"><span class="label">Описание</span>{{Notes}}</div>{{/Notes}}
</div>
{{#Code}}<script src="_codehl.js"></script><script>window.__codehl&&window.__codehl()</script>{{/Code}}
